{% extends 'base.html.twig' %}
{% block menu %}
    <li>
        <a href="#">Déclarer des frais</a>
    </li>
    <li>
        <a href="#">Consulter mes fiches</a>
    </li>
{% endblock %}

{% block body %}
    <h1>Espace Visiteur</h1>
{% endblock %}