{% extends 'base.html.twig' %}
{% block menu %}
    <li>
        <a href="#">Fiches à valider</a>
    </li>
    <li>
        <a href="#">Consulter fiches</a>
    </li>
    <li>
        <a href="#">Gérer Frais Forfaits</a>
    </li>
    <li>
        <a href="#">Gerer Etats</a>
    </li>
{% endblock %}